
.hello {
    color: rgb(63, 119, 223);
    font-size: 50px;
    text-decoration: underline;
}

.NAVER {
    font-size: 20px;
    background-color: aquamarine;
    padding: 10px;
    margin: px;
}

.Go {
    font-size: 30px;
}
